.homepage {
    background-image: url(../mainBG.jpg);
    min-width: 100%;
    min-height:100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin:auto;
    padding:0;
    display: flex;
    flex-direction: column;
}

.header {
    text-align:center;
    color: white;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.body {
    display:flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.descriptionBox {
    display:flex;
    flex-direction: column;
    padding-bottom: 20px;
}

.desc {
    text-align:center;
    font-size: 20px;
}

.description {
}

.inputs {
    display: flex;
    flex-direction: row;
    text-align:center;
}
