.homepage {
  background-image: url(./mainBG.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin:auto;
  padding:0;
  display: flex;
  flex-direction: column;
}

.header {
  text-align:center;
  color: white;
  align-items: center;
  justify-content: center;
}

.body {
  text-align:center;
  color: white;
}

.itemContainer{
  background-image: url(./mainBG.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin:auto;
  padding:0;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
}
